[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
scrapy = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
django = "*"
markdown = "==3.1.1"
selenium = "*"

[requires]
python_version = "3.7"
